.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
    font: 100%/1.5em;
    font-family: 'Marmelad', sans-serif;
    color: black;
    /*background: url("../img/hair.jpg");
    background-repeat: no-repeat;*/

}

.fluid-bg {
    background: url("../img/paper.png");
}

@media screen and (min-width: 1024px) {
    .fluid-bg {
        background: url("../img/hair.jpg") no-repeat;
    }

    .content div.text, .services-text div.services-text-price {
        background-color: rgba(238, 233, 233, 0.7);
    }
    .header-logo .scissors {
        animation: move 4s linear forwards, rotate 1s linear 4s forwards, move1 4s linear 5s forwards, rotate1 1s linear 9s forwards;
    }
    .page-galery-margin {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 992px) {
    .services .row2 img {
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 562px) {
    header .header-logo .scissors {
        top: 100px;
    }
}

@media screen and (max-width: 767px) {
    .services-text-price h2.price {
        padding-top: 0%;
        padding-left: 3%;
    }

}
@media screen and (max-width: 440px) {
    div.footer-email {
        margin-right: 10%;
    }
}

@font-face {
    font-family: Cassandra;
    src: url(../fonts/Cassandra.ttf);
}

img {
    max-width: 100%;
    height: auto;
}

header {
    border-bottom: 1px dashed black;
}

.header-logo {
    position: relative;
}

header h1 {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px #eee, 2px 2px 1px #707070;

}

.header-logo .scissors {
    position: absolute;
    top: 52px;
    right: 0px;
}

.container-fluid {
    max-width: 970px;
}

main .content {
    margin-top: 40px;
}

#navigation li a {
    color: #000;
    font-family: Cassandra;
    font-size: 1.9em;
    text-shadow: 1px 0px 1px darkgray;
    background: none;
    -webkit-transition: color 0.2s ease;

}

#navigation li a:hover {
    color: darkgray;
    outline: none;

}

#navigation li.active a {
    background-image: url("../img/lak.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #9D5B22;
    outline: none;
}
.action {
    text-align: center;
    border-radius: 10px;
    box-shadow: inset rgba(0, 0, 0, .5) -2px -2px 6px,
    inset rgba(255, 255, 255, .9) 2px 2px 6px,
    rgba(0, 0, 0, .8) 1px 1px 2px -4px;
}
.action .action-title {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px #eee, 2px 2px 1px #707070;
    color: #6CA815;
    animation: color 10s linear infinite;
}
.action .action-description {
    font-size: 28px;
    font-weight: bold;
}
.action .action-price {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Jura', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px #eee, 1px 1px 1px #707070;
}
.action .action-equally {
    font-weight: normal;
    font-size: 32px;
}
div.text {

    background-color: rgba(255, 255, 255, 0.5);

}

div.text h1 {
    font-size: 2.0em;
    font-family: Cassandra;
    color: #983C05;
}
div.text h1.forphoto {
    font-size: 2.4em;
    color: #983C05;
}
div.text h1.forwedding {
    font-size: 2.4em;
    color: #68D6DC;
}
div.text h1.transformation {
    font-size: 2.4em;
    color: #6CA815;
}
div.text p {
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: 'Jura', sans-serif;
}
.transformation li {
    list-style: none;
}
.transformation a {
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.transformation a:hover {
    color: #983C05;
}
.index-page-text {
    margin-bottom: 20px;
}

.about-myself-text {
    margin-bottom: 20px;
}

.about-myself-img {
    padding: 0;
}

.services-text-price {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

}

.index-page-galery li a {
    text-decoration: none;
    display: block;
    margin-right: 25px;
    margin-top: 15px;
}

.index-page-galery li.active a {
    display: block;
    background: #68D6DC;
    border-radius: 100%;
    border: 1px solid #983C05;
    height: 12px;
    width: 12px;
    margin-right: 25px;
    margin-top: 15px;
}
.index-page-galery li.active a.circle4 {
    animation: none;
}
.circle {
    display: block;
    background: #983C05;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin: 0;
}
.circle4 {
    animation: circle 1s linear alternate-reverse infinite;
}
.index-page-img {
    text-align: center;
}

.index-page-galery li {
    list-style: none;
    display: inline-block;
}

.services-text-price h2 {
    font-size: 28px;
    color: #6CA815;
    font-family: Cassandra;
    padding-top: 3%;
    padding-left: 1%;
}

.services-text-price h3 {
    font-size: 2.0em;
    font-family: Cassandra;
    color: #983C05;

}

.services-text-price p {
    font-size: 1.38em;
    font-family: 'Jura', sans-serif;
    color: #001C2F;
}
p.star {
    font-size: 1.2em;
    font-family: 'Jura', sans-serif;
    color: #001C2F;
}
.row1 {
    margin-bottom: 20px;
}

.contacts-address {
    margin-bottom: 20px;
}
.contacts-address .phone {
    text-decoration: none;
    color: #0f0f0f;
    font-weight: bold;
}
.viber {
    font-weight: bold;
    animation:  vibercolor 3s linear alternate-reverse  infinite;
}
.whatsapp {
    font-weight: bold;
    animation:  whatsappcolor 3s linear alternate-reverse  infinite;
}
.contacts-address .phone:hover{
    color: #983C05;
}
div.content {
    padding-left: 30px;

}

footer {
    max-width: 970px;
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px dashed black;
    min-height: 70px;

}

.footer-email {
    font-family: 'Jura', sans-serif;
    font-size: 16px;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    margin-bottom: 3%;

    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    border-radius: 5px;

    transition: background-color 0.5s;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-vk {
    background: #68D6DC url("../img/icon-vk.png") no-repeat center;
}

.social-btn-inst {
    background: #68D6DC url("../img/icon-inst.png") no-repeat center;
}

.social-btn-vk:hover {
    background: black url("../img/icon-vk.png") no-repeat center;
}

.social-btn-inst:hover {
    background: black url("../img/icon-inst.png") no-repeat center;
}

@keyframes move {
    from {right:0;}
    to {right: 850px;}
}

@keyframes rotate {
    to {transform: rotateY(180deg);}
}

@keyframes move1 {
    from {right: 850px;}
    to {right: 0;}
}
@keyframes rotate1 {
    from {transform: rotateY(180deg);}
    to {transform: rotateY(360deg);}
}
@keyframes color {
    from { color: #6CA815; }
    33% { color: #68D6DC;  }
    66% {color: #983C05;}
    to { color: #6CA815; }
}

@keyframes vibercolor {
    from { color: black; }
    20% {color: #7D0372;}
    to {color: #7D0372;}
}

@keyframes whatsappcolor {
    from { color: black; }
    20% {color: #2FB80A;}
    to { color: #2FB80A; }
}

@keyframes circle {
    20% {background: #6CA815;}
    80% {background: #6CA815;}
    to {background: #6CA815; }
}
img { border: 0; }

