.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
	margin: 0;
    font: 100%/1.5em;
	font-family: 'Marmelad', sans-serif;
	color: black;
    /*background: url("../img/hair.jpg");
    background-repeat: no-repeat;*/

}
.fluid-bg {

    background: url("../img/hair.jpg");
    background-repeat: no-repeat;
}


@font-face {
    font-family: Cassandra;
    src: url(../fonts/Cassandra.ttf);
}
img {
    max-width: 100%;
    height: auto;
}
#slider-wrap{ /* Оболочка слайдера и кнопок */
    width:404px;
    margin-left: auto;
}
#slider{ /* Оболочка слайдера */
    width:400px;
    height:400px;
    overflow: hidden;
    border: #68D6DC solid 2px;
    position:relative;
    }
.slide{ /* Слайд */
    width:100%;
    height:100%;
}
.sli-links{ /* Кнопки смены слайдов */
    margin-top:10px;
    text-align:center;}
.sli-links .control-slide{
    margin:2px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../img/radioBg.png) center bottom no-repeat;}
.sli-links .control-slide:hover{
    cursor:pointer;
    background-position:center center;}
.sli-links .control-slide.active{
    background-position:center top;}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
    display:block;
    width:15px;
    height:100%;
    position:absolute;
    top:0;
    overflow:hidden;
    text-indent:-999px;
    background:url(../img/arrowBg.png) left center no-repeat;
    opacity:0.8;
    z-index:3;
    outline:none !important;}
#prewbutton{left:10px;}
#nextbutton{
    right:10px;
    background:url(../img/arrowBg.png) right center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
    opacity:1;}
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-blue {
    width: 200px;
    height: 55px;
    background-position: -5px -5px;
}

.sprite-icon-orange {
    width: 200px;
    height: 55px;
    background-position: -5px -70px;
}

.sprite-icon-pink {
    width: 200px;
    height: 55px;
    background-position: -5px -135px;
}

.sprite-icon-yellow {
    width: 200px;
    height: 55px;
    background-position: -5px -200px;
}

header {
	border-bottom: 1px dashed black;
}
.header-logo {
    position: relative;
}
.header-logo .scissors {
    position: absolute;
    top: 85px;
    right: 0px;
}
.container {
	width: 970px;

}

#navigation li a {
    color: #000;
    font-family: Cassandra;
    font-size: 1.75em;
    background: none;
    /*padding-bottom: 40px;*/
    -webkit-transition: color 0.2s ease;

}

#navigation li a:hover {
     color: darkgray;

 }
#navigation li.active a {
    background-image: url("../img/lak.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #9D5B22;
}

div.text {
	width: 400px;
    height: 600px;
    background: url("../img/snow.png");
    
}
div.text h1 {
    font-size: 2.5em;
    font-family: Cassandra;
}
div.text p {
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: 'Jura', sans-serif;
}

.services-text div.services-text-price {
    background: bisque url("../img/snow.png");
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

}


.services-text-price h2 {
    font-size: 28px;
    color: #983C05;
    font-family: 'Poiret One', cursive;
    padding-top: 5%;
}
 .services-text-price h3 {
     font-size: 28px;
     font-family: Cassandra;
     color: #983C05;

}
.services-text-price p {
    font-size: 18px;
    font-family: 'Jura', sans-serif;
    color: #001C2F;
}
.row {
    margin-top: 60px;

}
div.content {
    padding-left: 30px;
}

footer {
    position: relative;
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px dashed black;
    min-height: 70px;
}
footer .scissorsfooter {
    position: absolute;
    top: -28px;
}
.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;

    font-size: 0;
    vertical-align: top;
    text-decoration: none;


    transition:

            background-color 0.5s;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-vk {
    background: #68D6DC url("../img/icon-vk.png") no-repeat center;
}

.social-btn-inst {
    background: #68D6DC url("../img/icon-inst.png") no-repeat center;
}

.social-btn-vk:hover {
    background: black  url("../img/icon-vk.png") no-repeat center;
}


.social-btn-inst:hover {
    background: black  url("../img/icon-inst.png") no-repeat center;
}

